[submodule "unit-tests/secp256k1"]
	path = unit-tests/secp256k1
	url = git@github.com:bitcoin-core/secp256k1.git
[submodule "ledger-app-ai-instructions"]
	path = ledger-app-ai-instructions
	url = https://github.com/LedgerHQ/ledger-app-ai-instructions.git
